<p id="notice"><%= notice %></p>

<h1>Listing Filter Boxes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filter_boxes.each do |filter_box| %>
      <tr>
        <td><%= link_to 'Show', filter_box %></td>
        <td><%= link_to 'Edit', edit_filter_box_path(filter_box) %></td>
        <td><%= link_to 'Destroy', filter_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filter box', new_filter_box_path %>
