<%= simple_form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

  <h2>Documents associés</h2>
  <p>Sélectionner les documents correspondant au profil.</p>

  <% if @documents.exists? %>
    <%= f.association :documents, collection: @documents, as: :check_boxes, label_method: :name %>
  <% else %>
    <div>
      <%= link_to 'Créer des documents', new_document_path, class: 'btn btn-warning' %>
    </div>
  <% end %>

  <%= submit_tag 'Valider', class: "btn btn-primary" %>
<% end %>
