<div class="row">
  <div class="col-xs-12 col-md-9">
    <h2>Profil <%= @profile.name %></h2>
  </div>

  <div class="col-xs-12 col-md-3">
    <% if @profile.employees.empty? %>
      <span class="pull-right">
        <%= link_to "Supprimer", @profile, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-danger" %>
      </span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Documents Associés au profil <%= @profile.name %> :</strong>
      <ul>
      <% @profile.documents.each do |document| %>
        <li> <%= link_to document.name, document %> </li>
      <% end %>
    </ul>

    <%= link_to 'Retour Liste', profiles_path , class: "btn btn-default" %>
    <%= link_to 'Modifier', edit_profile_path(@profile) , class: "btn btn-primary"%>
  </div>
</div>
