<p id="notice"><%= notice %></p>

<div class="row">
<h2>Profil <%= @profile.profile_name %></h2>
</div>


<div class="row">
  <strong>Documents Associés au profil <%= @profile.profile_name %>:</strong>
    <ul>
    <% @profile.documents.each do |document| %>
      <li> <%= link_to document.document_name, document %> </li>
    <% end %>
  </ul>
</div>

<div class="row">
<%= link_to 'Retour à la liste', profiles_path , :class=>"btn btn-default" %>
<%= link_to 'Modifier', edit_profile_path(@profile) , :class=>"btn btn-primary"%>
</div>