<div class="row">
  <div class="col-xs-12 col-md-9">
    <h1>Profil <%= @profile.name %></h1>
  </div>

  <div class="col-xs-12 col-md-3">
    <% if @profile.employees.empty? %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Documents Associés </h2>
    <ul>
      <% @profile.documents.each do |document| %>
        <li> <%= link_to document.name, document %> </li>
      <% end %>
    </ul>

    <%= link_to 'Modifier', edit_profile_path(@profile) , class: "btn btn-primary"%>
    <%= link_to 'Retour Liste', profiles_path , class: "btn btn-default" %>
    <%= link_to "Supprimer", @profile, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-danger" %>
  </div>
</div>
