<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
      <form class="form-horizontal">
      <fieldset>
      <legend>Création de la session <%= @session.id %></legend>
      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Hygrométrie</label>
        <div class="col-md-3">
        <%= f.text_field :session_hygro, :class => "form-control input-sm", :placeholder => "Hygromatrie session", :type => "number" %></div>
      </div>

</br>

      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Slot 1</label>
        <div class="col-md-3">
        <%= f.text_field :slot_1_filter, :class => "form-control input-sm", :placeholder => "Filtre 1", :type => "number" %></div>
        <div class="col-md-3">
        <%= f.text_field :slot_1_temp, :class => "form-control input-sm", :placeholder => "Température filtre 1", :type => "number" %></div>
      </div>


      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Slot 2</label>
        <div class="col-md-3">
        <%= f.text_field :slot_2_filter, :class => "form-control input-sm", :placeholder => "Filtre 2", :type => "number" %></div>
        <div class="col-md-3">
        <%= f.text_field :slot_2_temp, :class => "form-control input-sm", :placeholder => "Température filtre 2", :type => "number" %></div>
      </div>

      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Slot 3</label>
        <div class="col-md-3">
        <%= f.text_field :slot_3_filter, :class => "form-control input-sm", :placeholder => "Filtre 3", :type => "number" %></div>
        <div class="col-md-3">
        <%= f.text_field :slot_3_temp, :class => "form-control input-sm", :placeholder => "Température filtre 3", :type => "number" %></div>
      </div>

      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Slot 4</label>
        <div class="col-md-3">
        <%= f.text_field :slot_4_filter, :class => "form-control input-sm", :placeholder => "Filtre 4", :type => "number" %></div>
        <div class="col-md-3">
        <%= f.text_field :slot_4_temp, :class => "form-control input-sm", :placeholder => "Température filtre 4", :type => "number" %></div>
      </div>

      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Slot 5</label>
        <div class="col-md-3">
        <%= f.text_field :slot_5_filter, :class => "form-control input-sm", :placeholder => "Filtre 5", :type => "number" %></div>
        <div class="col-md-3">
        <%= f.text_field :slot_5_temp, :class => "form-control input-sm", :placeholder => "Température filtre 5", :type => "number" %></div>
      </div>

</br>

      <div class="form-group">
        <div class='row'>
        <label for="inputEmail" class="col-md-2 control-label">Résultat</label>
        <div class="col-md-3">
        <%= f.text_field :result, :class => "form-control input-sm", :placeholder => "Résultat", :type => "text" %></div>
      </div>

  </br>
        <div class="form-group">
          <div class='row'>
          <label for="inputEmail" class="col-md-2 control-label">Commentaires</label>
          <div class="col-md-3">
          <%= f.text_field :comments, :class => "form-control input-sm", :placeholder => "Commentaires", :type => "textarea" %></div>
        </div>

      </div>
    </br>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-4">
          <button type="reset" class="btn btn-default">Annuler</button>
            <%= f.submit "Valider", :class => "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  </form>
      </div>
      </div>
      </div>
<% end %>
