<%= simple_form_for(@employee) do |f| %>
<% if @employee.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

  <ul>
    <% @employee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= f.input :first_name, autofocus: true %>
    <%= f.input :last_name %>
    <%= f.input :is_active %>
    <%= f.association :profile, collection: @profiles %>

    <%= f.button :submit, 'Valider', class: 'btn btn-primary' %>

    <% end %>
    <%= link_to 'Annuler', employees_path, class: "btn btn-default" %>

  </div>
</div>
