<p id="notice"><%= notice %></p>
<div class="row">
      <div class="form-group">
      <h2><%= @employee.first_name %> <%= @employee.last_name %></h2>

      <strong>Is active: </strong>
      <span class="<%= @employee.is_active ? "text-success" : "text-danger"%>">
        <%= @employee.is_active ? "Employé actif" : "Employé inactif"%>
      </span>

      <p>
        <strong>Date de naissance: </strong> <%= @employee.birthdate %>
      </p>

      <p>
        <strong>Profil:</strong> <%= @employee.profile.profile_name %>
      </p>
      </div>
    </div>

<div class="row">
<%= link_to 'Retour à la liste', employees_path , :class=>"btn btn-default" %>
<%= link_to 'Modifier', edit_employee_path(@employee) , :class=>"btn btn-primary"%>
</div>
