<p id="notice"><%= notice %></p>

<div class="row">
<h2><%= @employee.first_name %> <%= @employee.last_name %></h2>
</div>

<div class="row">
  <strong>Is active: </strong>
  <span class="<%= @employee.is_active ? "text-success" : "text-danger"%>">
    <%= @employee.is_active ? "Employé actif" : "Employé inactif"%>
  </span>
</div>

<div class="row">
<p>
  <strong>Date de naissance: </strong> <%= @employee.birthdate %>
</p>
</div>

<!-- <p><strong>Status:</strong><%= @employee.status %></p> -->

<div class="row">
<p>
  <strong>Profil:</strong>
  <%= @employee.profile.profile_name %>
</p>
</div>

<div class="row">
<%= link_to 'Retour à la liste', employees_path , :class=>"btn btn-default" %>
<%= link_to 'Modifier', edit_employee_path(@employee) , :class=>"btn btn-primary"%>
</div>