<div class="row">
  <div class="col-xs-12">
    <h1>Compte</h1>

    <h2>Information personnelles</h2>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p>
          <strong>Nom :</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Email :</strong>
          <%= @user.email %>
        </p>
      </div>
      <div class="col-xs-12 col-md-4 text-right">
        <%= link_to 'Editer', '#', class: 'btn btn-primary' %>
      </div>
    </div>

    <h2>Notifications</h2>
    <div class="js-mail-notification-flash"></div>
    <% if @plan_policy.receive_mail_notifications? %>
      <%= simple_form_for @user, url: account_notification_settings_path, remote: true do |form| %>
        <%= form.input :mail_notification_frequency, as: :radio_buttons, label: false %>
        <%= form.button :submit, 'Changer', data: { disable_with: 'Enregistrement...' } %>
      <% end %>
    <% else %>
      <p>Non disponible pour cet abonnement</p>
    <% end %>
  </div>
</div>
