</br>
<h1>Cerbere App</h1>
</br>
<div class='row'>

	<div class='col-md-6'> 
		<h2>Une solution de gestion de documents</h2>
		Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor.
		<ul class="nav nav-pills nav-stacked">
  			<li role="presentation"><%= link_to "Accueil", home_path %></li>
  			<li role="presentation" class="active"><%= link_to "Fonctionnalités", features_path %></li>
  			<li role="presentation"><%= link_to "Abonnements", pricing_path %></li>
  			<li role="presentation"><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>

	<div class='col-md-6 hidden-sm hidden-xs'>
		<%= image_tag "logo/logo_v1.png" %> 
	</div> 

</div>


Features list
aaa
aaa
aaa
