</br>
<h1>Cerbere App</h1>
</br>
<div class='row'>

	<div class='col-md-6'>
		<h2>Une solution de gestion de documents</h2>
		Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor.
		<ul class="nav nav-pills nav-stacked">
  			<li role="presentation" class="active"><%= link_to "Accueil", page_path('home') %></a></li>
  			<li role="presentation"><%= link_to "Fonctionnalités", page_path('features') %></li>
  			<li role="presentation"><%= link_to "Abonnements", page_path('pricing') %></li>
  			<li role="presentation"><%= link_to "Contact", page_path('contact') %></li>
		</ul>
	</div>

	<div class='col-md-6 hidden-sm hidden-xs'>
		<%= image_tag "logo/logo_v2.png" %>
	</div> 

</div>

<div class='row text-center'>

	<div class='col-md-12  col-xs-10 col-xs-offset-1 col-sm-offset-0'>
	<h3>Soyez efficace!</h3>
	Ne perdez plus de temps à gérer le cycle de vie de vos documents, Cerbere App garde un oeil sur la validité des documents d'identification de vos employés pour que vous puissiez vous concentrer sur votre activité. Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor.
	</div> 

	<div class='col-md-6 col-xs-6'> 
	<h3>Une gestion de documents simplifiée</h3>
	Cerbere App permet à ses clients de gérer le cycle de vie des documents plus facilement. Vous pouvez ainsi vous concentrer sur votre business.
	</div>

	<div class='col-md-6  col-xs-6'> 
    <h3>Un socle de technologies éprouvées</h3>
    Le site Cerbere App utilise des technologies open-source pour le chiffrement de ses données client. Ce qui garantit que vos données sont à l'abri.
    Les technologies open-source sont régulièrement mises à jour et auditées par des expert mondiaux en sécurité informatique.
  	</div>

</div>
