</br>
<h1>Cerbere App</h1>
</br>
<div class='row'>

	<div class='col-md-6'>
		<h2>Une solution de gestion de documents</h2>
		Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor.
		<ul class="nav nav-pills nav-stacked">
  			<li role="presentation"><%= link_to "Accueil", page_path('home') %></li>
  			<li role="presentation"><%= link_to "Fonctionnalités", page_path('features') %></li>
  			<li role="presentation" class="active"><%= link_to "Abonnements", page_path('pricing') %></li>
  			<li role="presentation"><%= link_to "Contact", page_path('contact') %></li>
		</ul>
	</div>

	<div class='col-md-6 hidden-sm hidden-xs'>
		<%= image_tag "logo/logo_v2.png" %>
	</div> 

</div>
</br>

<div class='row'>
	<div class='col-md-4'>
		<h3>Nos offres<small> Adaptées à votre besoin</small></h3>
		Cerbere App vous propose 3 abonnements en fonction du nombre de documents à gérer, ainsi qu'une offre d'essai limitée à 3 employés afin de tester notre solution.</br>
		Vous pouvez à tout moment faire évoluer votre type d'abonnement.

	</div>
	<div class='col-md-8'>
		<table class="table table-bordered">
			<thead>
        		<tr>
          		<th>Fonctionalités</th>
          		<th class="success text-center">Essai</th>
          		<th class="warning text-center">Silver</th>
          		<th class="warning text-center">Gold</th>
          		<th class="warning text-center">Platinium</th>
        		</tr>
      		</thead>
      		<tbody>
        	<tr>
  		        <th scope="row">Nombre de personnel maximum</th>
  		        <td class="success text-center">1 - 3</td>
  		        <td class="warning text-center">1 - 50</td>
  		        <td class="warning text-center">1 - 100</td>
          		<td class="warning text-center">illimité</td>
  		    </tr>
  		    <tr>
  		        <th scope="row">Notifications par e-mail</th>
  		        <td class="success text-center">Non</td>
  		        <td class="warning text-center">Non</td>
  		        <td class="warning text-center">Oui</td>
          		<td class="warning text-center">Oui</td>
  		    </tr>
          <tr>
              <th scope="row">Abonnement mensuel</th>
              <td class="success text-center">0€/mois </br>  <a href="#" class="btn btn-success btn-xs">Offre d'essai</a> </td>
              <td class="warning text-center">39€/mois </br> <a href="#" class="btn btn-warning btn-xs">Choisir abonnement</a> </td>
              <td class="warning text-center">69€/mois </br> <a href="#" class="btn btn-warning btn-xs">Choisir abonnement</a> </td>
              <td class="warning text-center">99€/mois </br> <a href="#" class="btn btn-warning btn-xs">Choisir abonnement</a> </td>
          </tr>
  		    </tbody>
		</table>
	</div>
</div>
