<%= simple_form_for(@document) do |f| %>
<% if @document.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

  <ul>
    <% @document.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= f.input :name, autofocus: true %>
    <%= f.input :warning_days %>
    <%= f.input :critical_days %>
    <%= f.input :expire_days %>

    <%= f.button :submit, 'Valider', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
