<div class="row">
  <div class="col-xs-12">
    <h1>Modèles de Document</h1>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Document</th>
          <th>Profils attachés</th>
          <th class="text-warning">Alerte</th>
          <th class="text-danger">Critique</th>
          <th class="text-muted">Expiration</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% if @documents.exists? %>
          <% @documents.each do |document| %>
            <tr>
              <td><%= document.name %></td>
              <td><%= document.profiles.count %></td>
              <td class="text-warning"> <%= document.warning_days %> jours </td>
              <td class="text-danger"> <%= document.critical_days %> jours </td>
              <td class="text-muted"> <%= document.expire_days %> jours </td>
              <td><%= link_to 'Détails', document, class: "btn btn-default" %></td>
              <td><%= link_to 'Modifier', edit_document_path(document) , class: "btn btn-default" %></td>
              <td>
                <% if document.profiles.empty? %>
                  <%= link_to 'Supprimer', document, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-danger" %>
                  <% else %>
                  <button type="button" class="btn btn-danger disabled">Supprimer</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8">Aucun modèle de document</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Nouveau modèle de document', new_document_path, class: "btn btn-primary" %>
  </div>
</div>
