<p>
  <strong>Nom du Document:</strong>
  <%= @document.document_name %>
</p>

<p>
  <strong>Paramétrage:</strong>
  <p class="text-warning">
  	<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  	Seuil <b> Warning</b> à <%= @document.warning_days %> jours</p>
  <p class="text-danger">
  	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
	Seuil <b> Critical</b> à <%= @document.critical_days %> jours</p>
  <p class="text-muted">
  	<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
  	Le document <b> Expire</b> à <%= @document.expire_days %> jours</p>
</p>

<%= link_to 'Modifier', edit_document_path(@document), :class=>"btn btn-primary"  %>
<%= link_to 'Retour Liste', documents_path, :class=>"btn btn-default"  %>
