<div class="row">
  <div class="col-xs-12">
    <h1>Détails <%= @document.name %></h1>
  </div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Profils attachés :</strong>
      <%= @document.profiles.count %>
      <p class="text-warning">
      	<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      	Seuil <b> Warning</b> à <%= @document.warning_days %> jours</p>
      <p class="text-danger">
      	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
    	Seuil <b> Critical</b> à <%= @document.critical_days %> jours</p>
    </p>

    <%= link_to 'Modifier', edit_document_path(@document), class: "btn btn-primary"  %>
    <%= link_to 'Retour Liste', documents_path, class: "btn btn-default"  %>
    <% if @document.profiles.empty? %>
        <%= link_to "Supprimer", @document, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
