<h2>Log in</h2>

<div class="row ">
  <div class='col-md-6 col-md-offset-3 hidden-xs'>
    <%= image_tag "logo/logo_v2.png",  class: "img-responsive "%>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email, autofocus: true %>
    <%= f.input :password %>
    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, as: :boolean %>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in" , class: "btn btn-primary" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
