<div class="row">
  <div class="col-xs-12">
    <h1>Edition document</h1>

    <p>
      <strong>Personnel</strong>
      <%= @paper.employee.first_name %> <%= @paper.employee.last_name %>
    </p>
    <p>
      <strong>Document</strong>
      <%= @paper.document.name %>
    </p>

    <%= render 'form' %>

    <%= link_to 'Annuler', @paper, class: 'btn btn-warning' %>
  </div>
</div>
