<p id="notice"><%= notice %></p>

<h1>Liste des documents</h1>
Cette page liste tous les documents dont la validité va bientôt expirer ou qui sont déjà expirés.

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Document</th>
      <th>Employé</th>
      <th>Expiration date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.document.document_name %></td>
        <td><%= paper.employee.last_name %> <%= paper.employee.first_name %></td>
        <td><%= paper.expiration_date %> </td>
        <!--<td><%= link_to 'Show', paper %></td>-->
        <td><%= link_to 'Edit', edit_paper_path(paper), :class => "btn btn-default" %></td>
      <!--
      <td><%= link_to 'Destroy', paper, :class => "btn btn-danger", method: :delete, data:
      { confirm: 'Are you sure?' } %></td> no delete -->
      </tr>
    <% end %>
  </tbody>
</table>

<!-- < % = link_to 'New Paper', new_paper_path, :clas => "btn btn-default" %>-->
