<div class="row">
  <div class="col-xs-12">
    <h1>Documents</h1>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Employé</th>
          <th>Document</th>
          <th>Date d'expiration</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% if @papers.exists? %>
          <% @papers.each do |paper| %>
            <tr>
              <td><%= link_to "#{paper.employee.last_name} #{paper.employee.first_name}", paper.employee %></td>
              <td><%= paper.document.name %></td>
              <td><p class="<%= paper_status_css_class(paper) %>">
                <%= l(paper.expiration_date) %>
                <% if paper.expiration_date > Date.current %>
                  reste <%= paper_days_to_expire(paper) %> <%= 'jour'.pluralize(paper_days_to_expire(paper)) %>
                <% else %>
                  expiré depuis <%= paper_expiration_days(paper) %> <%= 'jour'.pluralize(paper_expiration_days(paper)) %>
                <% end %>
              </p>
            </td>
            <td><%= link_to 'Modifier', edit_paper_path(paper), class: "btn btn-default" %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6">Aucun document</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
