<p id="notice"><%= notice %></p>

<h1>Listing Documents</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Employé</th>
      <th>Document</th>
      <th>Date d'expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.employee.first_name %> <%= paper.employee.last_name %></td>
        <td><%= paper.document_id %></td>
        <td><%= paper.expiration_date %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper), :class => "btn btn-default" %></td>
        <!-- impossible to destroy papers
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- impossible to destroy papers
<%= link_to 'New Paper', new_paper_path %>-->
