<p id="notice"><%= notice %></p>

<h1>Filtres</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Statut</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @filters.each do |filter| %>
      <tr>
        <td><%= filter.id %></td>
        <td><%= filter.filter_type %></td>
        <td> OK </td>
        <td><%= link_to 'Détails', filter , :class => "btn btn-default" %></td>
        <td><%= link_to 'Modifier', edit_filter_path(filter), :class => "btn btn-default" %></td>
        <td><%= link_to 'Supprimer', filter, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Filtre', new_filter_path, :class=>"btn btn-primary" %>
