<h1>Personnel</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Statut</th>
      <th>Nom</th>
      <th>Status</th>
      <th>Profil</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr class='<%= "is_active" if employee.is_active? %>'>
        <td><%= employee.is_active %></td>
        <td><%= employee.first_name %> <%= employee.last_name %></td>
        <td><%= employee.status %></td>
        <td><%= employee.profile.profile_name %></td>
        <td><%= link_to 'Show', employee , :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), :class => "btn btn-default" %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, :class=>"btn btn-primary" %>
