<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Cerbere App" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <!-- Font Awesome and CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css" rel="stylesheet">

  <!-- offline mode -->
  <!--<%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.slate.min" %> -->

</head>
<body>
  <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Cerbere App", root_path, :class=>"navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <% if not user_signed_in? %>
        <li class="<%= 'active' if current_page?(page_path('home')) %>"><%= link_to "Accueil", page_path('home') %></a></li>
        <li class="<%= 'active' if current_page?(page_path('features')) %>"><%= link_to "Fonctionnalités", page_path('features') %></li>
        <li class="<%= 'active' if current_page?(page_path('pricing')) %>"><%= link_to "Abonnements", page_path('pricing') %></li>
        <li class="<%= 'active' if current_page?(page_path('contact')) %>"><%= link_to "Contact", page_path('contact') %></li>
        <% end %>

        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employés <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if current_page?(employees_path) %>"><%= link_to "Personnel", employees_path %></li>
            <li class="<%= 'active' if current_page?(profiles_path) %>"><%= link_to "Profils", profiles_path %></li>
            <li class="<%= 'active' if current_page?(papers_path) %>"><%= link_to "Documents", papers_path %></li>
            <li class="<%= 'active' if current_page?(documents_path) %>"><%= link_to "Modèles de documents", documents_path %></li>
          </ul>
        <% end %>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="divider"></li>
          <% if user_signed_in? %>
          <li class="divider"></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Mon compte", 'admin' %></li>
            <li class="divider"></li>
            <li><%= link_to("Déconnexion", destroy_user_session_path, method: 'delete') %></li>
          </ul>
          </li>
          <% else %>
          <li><%= link_to "Connexion", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


  <div class="container">
  </br>
</br>
</br>
<% flash.each do |message_type, message| %>
<div class="alert alert-dismissible alert-<%= message_type %>">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong><%= message_type %></strong>
  <%= message %>
</div>

<% end %>
<%= yield %>
<!--  <%#= debug(params) if Rails.env.development? %> -->

</div>
<div class='footer'>
  <div class='container'>
  </br>
</br>
</br>
<div class="well well-lg">
  <div class='row'>
    <div class='col-md-6 col-sm-4 col-xs-6'>
      <h4 class="lead">La société</h4>
      <p><i>Cerbere App</i> est une application web. <a href='tickets.html'>Consultez nos abonnements.</a>!</p>
      <p><a href='about.html'>More About Us</a></p>
      <p>Cerbere App &copy;2015.</p>
    </div>

    <div class='col-md-3 col-sm-2 col-xs-6'>
      <h4>Links</h4>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='tickets.html'>Tickets</a></li>
        <li><a href='stations.html'>Stations</a></li>
      </ul>
    </div>

    <div class='col-md-3 col-sm-2 col-xs-6'>
      <h4>Social</h4>
      <a href='http://twitter.com/cerbereapp'><%= image_tag "basic_social/colored/32/square/feed.png"%></a>
      <a href='http://twitter.com/cerbereapp'><%= image_tag "basic_social/colored/32/square/email.png"%></a>
      <a href='http://twitter.com/cerbereapp'><%= image_tag "basic_social/colored/32/square/twitter.png"%></a>
      <a href='http://twitter.com/cerbereapp'><%= image_tag "basic_social/colored/32/square/instagram.png"%></a>
      <a href='http://twitter.com/cerbereapp'><%= image_tag "basic_social/colored/32/square/facebook.png"%></a>
      <h4>Partenaires</h4>
    </div>
  </div>
</div>
</div>
</div>
<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
